@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);

@media screen and (min-width: 440px) {
body {
    margin: 0;
    font-family: system-ui;
    background: #10121c;
    color: #eeeeee;
    box-sizing: border-box;
}
#container {
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    height: 100dvh;
    background-image: url('/Asset/heroBanner.jpeg');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: 1s;
}
.banner::before {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    content: '';
    background-image: linear-gradient(to top, #10121c, transparent);
}
.banner .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 30px;
    width: 500px;
    font-weight: 300;
    transition: 1s;
}
/* logo */
.nav {
    position: absolute;
    left: 0%;
    top: 40px;
    width: 100%;
    z-index: 20;
}
.logo {
    position: absolute;
    left: 10%;
    top: 30px;
}
.logo svg{
    width: 50px;
}
.menu {
    position: absolute;
    top: 0;
    width: 70%;
    padding: 15vh 15% 0 15%;
    min-height: 50vh;
    background: rgb(18, 20, 45, 0.5);
    transform: translate(0, -90%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: 1s;
    text-align: center;
}
#direction {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.5;
    cursor: pointer;
}
#direction i:nth-child(2) {
    display: none;
}
#direction i:nth-child(3) {
    display: none;
}
#direction i:nth-child(4) {
    display: none;
}
.activeMenu #direction i:nth-child(1) {
    display: none;
}
.activeMenu #direction i:nth-child(2) {
    display: block;
}
.activeMenu .menu {
    top: -50px;
    transform: translate(0, 0);
    background: rgb(18, 20, 45);
}
.activeMenu .banner .content {
    top: 70%;
}
.activeMenu .banner {
    background-size: 150% auto;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.list {
    width: 60%;
    /* float: top !important; */
    position: absolute;
    top: -60px;
    left: 130px;
}
.nav .list ul {
    width: 40%;
    float: left;
    margin: 0;
    text-align: left;
    margin-bottom: 50px;
}
.nav .list ul li {
    padding: 10px 30px 10px 0;
    opacity: 0.7;
}
.nav .list ul li:nth-child(1) {
    font-weight: bold;
}
.other, .network {
    width: 20%;
    float: left;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    line-height: 60px;
    font-size: large;
    font-weight: 500;
    position: absolute;
    top: -60px;
    right: 230px;
}
.network {
    text-align: right;
}
.menu li {
    opacity: 0;
}
.activeMenu li {
    opacity: 0;
    animation: effectMenu 1s ease-in-out 1 forwards;
}
@keyframes effectMenu {
    0% {
        opacity: 0;
        transform: translate(0, -50px);
    } 100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.activeMenu li:nth-last-child(2){
    animation-delay: 0.2s !important;
}
.activeMenu li:nth-last-child(3){
    animation-delay: 0.4s !important;
}
.activeMenu li:nth-last-child(4){
    animation-delay: 0.6s !important;
}
.activeMenu li:nth-last-child(5){
    animation-delay: 0.8s !important;
}
}

@media screen and (max-width: 440px) {
    body {
        margin: 0;
        padding: 0;
        font-family: system-ui;
    }
    #container {
        width: 100%;
        height: 100dvh;
        background-image: url('/Asset/heroBannerMobile.jpeg');
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .nav {
        width: 100%;
    }
    .nav > .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 7% 15%;
        /* z-index: 1; */
    }
    .menu  ul {
        display: none;
    }
    .menu #direction {
        position: absolute;
        display: flex;
        justify-content: end;
        top: 0;
        right: 0;
        padding: 7% 15%;
    }
    .menu #direction i {
        font-size: 25px;
        padding: 0 10px;
        color: #fff;
    }

    #direction i:nth-child(1), #direction i:nth-child(2), #direction i:nth-child(4) {
        display: none;
    }

    #container .banner {
        display: none;
    }
    .activeMenu #direction i:nth-child(4) {
        display: block;
        z-index: 30;
        color: black;
    }
    .activeMenu #direction i:nth-child(3) {
        display: none;
    }
    .activeMenu .nav .menu ul {
        list-style: none;
        position: absolute;
        top: -3%;
        width: 100%;
        height: 50%;
        display: flex;
        /* flex-direction: space-between; */
        color: black;
        background-color: #eeeeee;
        z-index: 20;
        font-size: 20px;
    }
    .list  {
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 30;
        position: absolute;
    }
    .list ul {
        padding: 35% 0 0 30%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .other {
        position: absolute;
        width: 30%;
        height: 100%;
        top: 13%;
        right: 30%; 
        z-index: 30;
    }
    .other ul {
        padding: 30% 0 0px 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }
    .network {
        position: absolute;
        width: 30%;
        height: 100%;
        top: 13%;
        right: 10%; 
        z-index: 30;
    }
    .network ul {
        padding: 30% 0 0px 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }
    main {
        height: 100dvh;
    }
}
