@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: rgba(236, 239, 244);
    --black: rgba(46, 52, 64, 1);
    --gray: rgba(59, 66, 82);
}
body {
    /* font-family: 'Commissioner', sans-serif; */
    font-family: "poppins", sans-serif;
}

/* Home */
nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    width: 70%;
    padding: 2% 0px;
    position: fixed;
}

nav svg {
    /* background-color: yellowgreen; */
    width: 50px;
    height: 50px;
}

nav .navbar {
    /* background-color: slateblue; */
    display: inline-flex;
    justify-content: center;
    width: 30%;
    gap: 20px;
}
nav .navbar a {
    text-decoration: none;
    font-size: 120%;
    color: var(--white);
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    /* background: rgba(4, 55, 73, 1); */
    /* background: radial-gradient(circle, rgba(4, 55, 73, 1), rgba(5, 11, 21, 1), rgba(40, 46, 54, 1)); */
    background: rgba(4, 55, 73, 1);
    background: linear-gradient(0deg, rgba(4, 55, 73, 1), rgba(5, 11, 21, 1), rgba(40, 46, 54, 1));
}

.homeContainer .content {
    /* background-color: blueviolet; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-size: 200%;
}
/* Home */

/* About */
.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    /* background-color: var(--black); */
    background: rgba(4, 55, 73, 1);
    background: linear-gradient(180deg, rgba(4, 55, 73, 1), rgba(5, 11, 21, 1), rgba(40, 46, 54, 1));
}

.aboutContainer .profile {
    width: 180px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(Asset/profile.JPG);
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
}

.aboutContainer h1 {
    color: var(--white);
    font-size: 250%;
    margin-bottom: 10px;
    text-align: center;
}

.aboutContainer p {
    color: var(--white);
    font-weight: 300;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
}

.aboutContainer .icon {
    /* background-color: red; */
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.icon i {
    color: var(--white);
    font-size: 200%;
    margin: 0 10px;
}

.aboutContainer .box {
    /* background-color: blue; */
    display: flex;
    width: auto;
    gap: 20px;
}

.box a {
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--gray);
    text-decoration: none;
}
/* About */

/* Projects */
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    /* background-color: var(--black); */
    background: rgba(4, 55, 73, 1);
    background: linear-gradient(0deg, rgba(4, 55, 73, 1), rgba(5, 11, 21, 1), rgba(40, 46, 54, 1));
}

.projectContainer .box {
    background-color: var(--white);
    width: 720px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.projectContainer .box > div {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Posisi manual (bisa dihilangkan jika hanya ingin default urutan 2x2) */
.projectContainer .box > div:nth-child(1) {
    background-color: #0078D6;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.projectContainer .box > div:nth-child(2) {
    background-color: #0078D6;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.projectContainer .box > div:nth-child(3) {
    background-color: #0078D6;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.projectContainer .box > div:nth-child(4) {
    background-color: #0078D6;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@media (max-width: 440px) {
    .projectContainer .box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
}
/* Projects */

/* Contact */
.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: rgba(4, 55, 73, 1);
    background: linear-gradient(180deg, rgba(4, 55, 73, 1), rgba(5, 11, 21, 1), rgba(40, 46, 54, 1));
}

.contactContainer h1 {
    color: var(--white);
    font-size: 450%;
    margin-bottom: 10px;
    text-align: center;
}