@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: rgba(236, 239, 244);
    --black: rgba(46, 52, 64, 1);
    --gray: rgba(59, 66, 82);
}
body {
    font-family: "Poppins", sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(4, 55, 73, 1);
    background: linear-gradient(0deg, rgba(4, 55, 73, 1), rgba(5, 11, 21, 1), rgba(40, 46, 54, 1));
}
nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14dvh;
    min-width: 350px;
    width: 70%;
    padding: 2% 0px;
    /* position: fixed; */
}

nav svg {
    /* background-color: yellowgreen; */
    width: 50px;
    height: 50px;
}

nav .navbar {
    /* background-color: slateblue; */
    display: inline-flex;
    justify-content: center;
    width: 30%;
    gap: 20px;
}
nav .navbar a {
    text-decoration: none;
    font-size: 120%;
    color: var(--white);
}

/* Donut */
pre {
    font-family: monospace;
    font-size: 10px;
}
.donut-container {
    /* background-color: red; */
    color: var(--white);
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}